<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Show</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <h1>Edit show Flask Form</h1>

      <form action="" method="POST" novalidate>
        <table class="table">
          <tr>
            <td>Show ID</td>
            <td>{{ show.id }}</td>
          </tr>
          <tr>
            <td>Show Name</td>
            <td>{{ show.name }}</td>
          </tr>
          <tr>
            <td>Show Date</td>
            <td>{{ show.event_date }}</td>
          </tr>
          <tr>
            <td>Venue</td>
            <td>{{ show.venue.name }}, {{ show.venue.address.city }}, {{ show.venue.address.country }}</td>
          </tr>
          <tr>
            <td>Comments</td>
            <td>{{ show.comments }}</td>
          </tr>
          <tr></tr>
        </table>

        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}<br />
          {{ form.name() }}
        </p>
        <p>
          {{ form.event_date.label }}<br />
          {{ form.event_date() }}
        </p>
        <p>
          {{ form.venue.label }}<br />
          {{ form.venue() }}
        </p>
        <p>
          {{ form.comments.label }}<br />
          {{ form.comments() }}
        </p>

        <div class="container">
          <table class="table table-striped table-light table-responsive border-1">
            <tr>
              <th>Artist</th>
              <th>Comments</th>
              <th>Image</th>
              <th>Video</th>
            </tr>

            {% for concert in show.concerts %}
              <tr>
                <td>{{ concert.artist.name }}</td>
                <td>{{ concert.comments }}</td>
                <td>{{ concert.photos }}</td>
                <td>{{ concert.videos }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>

        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </body>
</html>
